extends layout

block stylesheets
  if event.lat && event.lon
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.5.1/dist/leaflet.css', integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==', crossorigin='')

block content
  section.hero.is-primary
    .hero-body
      .columns.is-centered
        .column.is-6
          h1.title.is-1=event.name
            if event.date_start
              // TODO add support for multi-day events
              p.subtitle
                =moment(event.date_start).format('ddd MMM Do')
                br
                =moment(event.date_start).format('LT')
                if event.date_end
                  =moment(event.date_end).format(' - LT')
                  if event.timezone
                    =' ' + event.timezone + ' Time'
                if event.location
                  br
                  =event.location
          each tag in eventTags
            a.button.is-primary.is-inverted.is-outlined.is-rounded.event-tag=tag.name
  section.section
    .columns.is-centered
      .column.is-6  
        if event.description
          p.title.is-4='From the host, '
            a(href='/' + eventUser.username)='@'+eventUser.username
          p.is-size-5=event.description
        if eventQuestions.length > 0
          hr
          each question in eventQuestions
            if question.visible === 1
              p.is-size-5 
                em=question.question
              p.is-size-5 
                =question.answer
        if event.lat && event.lon
          hr
          #map(location=event.location lat=event.lat lon=event.lon)
        button#open-rsvp-modal.button.is-link.is-medium.is-rounded.is-fullwidth.attend.see-attendees See Who Is Going
        if !userOwnsEvent
          button.button.is-medium.is-rounded.is-fullwidth.attend.update-attendance(urlKey=event.url_key class=userIsAttending ? 'is-warning' : 'is-link' )=userIsAttending ? 'Remove RSVP' : 'RSVP'
  include partials/rsvp-list
