extends layout

block content
  section.hero.is-primary.is-bold.is-medium
    .hero-body
      .container
        .columns.is-centered.is-vcentered
          .column.is-5
            h1.title.is-2!='Find leftist '
              span#landingHeroFadeTextContainer
                span.is-text.landingHeroFadeText="events"
                span.is-text.landingHeroFadeText.is-hidden="action"
                span.is-text.landingHeroFadeText.is-hidden="support"
                span.is-text.landingHeroFadeText.is-hidden="power"
                span.is-text.landingHeroFadeText.is-hidden="events"
            p.subtitle 
          .column.is-5
            img.landingHeroImage(src='https://eventz.nyc3.cdn.digitaloceanspaces.com/1.jpg')
            img.is-hidden.landingHeroImage(src='https://eventz.nyc3.cdn.digitaloceanspaces.com/3.jpg')
            img.is-hidden.landingHeroImage(src='https://eventz.nyc3.cdn.digitaloceanspaces.com/2.jpg')
            img.is-hidden.landingHeroImage(src='https://eventz.nyc3.cdn.digitaloceanspaces.com/4.jpg')
            img.is-hidden.landingHeroImage(src='https://eventz.nyc3.cdn.digitaloceanspaces.com/1.jpg')
  section.hero.is-medium#definition
    .hero-body
      .container
        p.is-size-3.has-text-centered
          b='flittermouse:'
          em=' (noun) '
          ='a cute name for bats 🦇💖'
  section.hero.is-link.is-large.is-bold
    .hero-body
      .container
        .columns.is-vcentered
          .column.is-4#ourMissionTitle
            p.title.is-hidden-tablet Our Mission 🌎
            p.title.has-text-right.is-hidden-mobile Our
              br
              ='Mission'
              br
              ='🌎'
          .column.is-6#ourMissionText
            p.is-size-3.is-size-4-mobile to be a website where leftists can share events with one another calmly, easily, and privately without relying on awful corporations like Facebook, Google, Microsoft, and Amazon
  section.section#whyFlittermouse
    .container
      h1.title.is-2.has-text-centered Why flittermouse? 🤔
      .columns.is-centered
        .column.is-3
          h2.title.has-text-centered Anti-Capitalist
          .box
            .content
              ul
                li No Data Brokering
                li No Venture Capital
                li No Profiteering
        .column.is-3.is-offset-1
          h2.title.has-text-centered Private
          .box
            .content
              ul
                li Customize Your Privacy with Granular Controls
                li Easily Update Settings
                li Easily Hide Profile from Public Searches
        .column.is-3.is-offset-1
          h2.title.has-text-centered Ethically Hosted
          .box
            .content
              ul
                li No Amazon/AWS services
                li No Microsoft services
                li No Google services
                li No Facebook services
  

        

      