extends layout

block stylesheets
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.css')

mixin privacySelect(label, name, currentValue)
  .field.is-horizontal
    .field-label.privacy
      label.label.is-size-5.privacy=label
    .field-body.privacy
      .field.is-narrow
        .control
          .select.is-fullwidth
            select(name=name)
              option(value="private" selected=(currentValue === 'private')) Only Me (Private)
              option(value="following" selected=(currentValue === 'following')) Only Accounts I Follow
              option(value="public" selected=(currentValue === 'public')) Anyone (Public)

block content
  .modal#cropModal
    .modal-background
    .modal-content
      .box
        p.title Crop Image
        #croppie
        button.button.is-link.is-medium#acceptCrop Looks Good
        button.button.is-medium#cancelCrop Cancel
    button.modal-close.is-large#cropModalClose(aria-label='close')
  section.section.settings
    .columns.is-centered
      .column.is-6
        h1.title.is-2 Account Settings
        h2.title.is-3 My Profile
        hr
        form#updateProfileForm
          .columns.is-vcentered.is-desktop
            .column.is-12-mobile.is-12-tablet.is-5-desktop
              img.avatar.is-block.margin-centered#settingsAvatar(src=sessionUser.avatar_url, alt="")
              .file
                label.file-label
                  input.file-input#fileInput(type='file', name='avatar', accept="image/jpeg, image/png")
                  span.file-cta
                    span.file-icon
                      i.fa.fa-upload
                    span.file-label Choose a file&mldr;
            .column
              .field
                label.label.is-size-5 Display Name
                  .control
                    input.input#displayNameInput(type='text', name='displayName' value=sessionUser.display_name)
                p.help#displayNameHelp=(sessionUser.display_name.length) + '/40'
              .field
                label.label.is-size-5 Bio
                  .control
                    textarea.textarea#bioTextArea(type='textarea' name='bio')=sessionUser.bio
                p.help#bioHelp=(sessionUser.bio.length) + '/160'
          button.button.is-link.is-medium.is-fullwidth.is-rounded.is-block.settings-save#updateProfileButton(disabled) Save Changes
        h2.title.is-3 Who Can See My Data?
        hr
        form#updatePrivacyForm
          +privacySelect("Display Name", 'displayNameVisibility', userSetting.display_name_visibility)
          +privacySelect("Profile Picture", 'avatarVisibility', userSetting.avatar_visibility)
          +privacySelect("Bio", 'bioVisibility', userSetting.bio_visibility)
          +privacySelect("Email", 'emailVisibility', userSetting.email_visibility)
          +privacySelect("Events I'm Attending", 'attendingVisibility', userSetting.attending_visibility)
          +privacySelect("Accounts I Follow", 'followingVisibility', userSetting.following_visibility)
          button.button.is-link.is-medium.is-fullwidth.is-rounded.is-block.settings-save#updatePrivacyButton(disabled) Save Changes
        


          

          

