extends layout

block content
  section.section
    .container
      .columns.is-vcentered.is-centered.is-mobile
        .column.is-offset-0-mobile.is-6-mobile.is-offset-3-tablet.is-3-tablet.is-offset-3-desktop.is-3-desktop
          img.avatar.is-inline-block.is-pulled-right(src=targetUser.avatar_url)
        .column
          if targetUser.display_name
            p.is-size-3=targetUser.display_name
          p.has-text-weight-bold.is-size-4='@'+targetUser.username
          if targetUser.bio
            p.is-size-5=targetUser.bio
          button.button.is-primary.is-medium.follow#userFollowButton(targetUserId=targetUser.user_id isFollowing=isFollowing class=isFollowing ? 'is-outlined' : '')=isFollowing ? 'Following' : 'Follow'
          
  if hostingEvents.length > 0
    section.section
      .container
        .columns.is-centered
          .column.is-8
            h1.title.has-text-centered Hosting
            hr
            .columns
              each event in hostingEvents
                .column.is-4
                  include partials/eventCard
  if attendingEvents.length > 0
    section.section
      .container
        .columns.is-centered
          .column.is-8
            h1.title.has-text-centered Attending
            hr
            .columns
              each event in attendingEvents
                .column.is-4
                  include partials/eventCard
